@model RB444.Models.Model.RegisterListVM;
@{
    ViewData["Title"] = "RegisterUsersList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .dataTables_wrapper {
        display: block;
        background: #fff;
        padding: 20px !important;
    }

    div.dataTables_wrapper div#dtBasicExample_length label {
        display: block;
    }

    div.dataTables_wrapper div#dtBasicExample_filter label {
        display: block;
        text-align: right;
    }

    div.dataTables_wrapper div.dataTables_length select {
        height: auto;
    }

    .u-action {
        display: block;
        text-align: right;
        padding-bottom: 20px;
    }

    .u-container {
        display: flex;
        justify-content: space-between;
        background: #fff;
        padding: 10px 20px;
        margin-bottom: 50px;
    }

        .u-container .u-block {
            display: grid;
            justify-items: flex-start;
            border-left: 2px solid #ddd;
            padding-left: 10px;
        }

            .u-container .u-block:first-child {
                border-left: none;
            }

            .u-container .u-block label {
                padding-top: 5px;
            }

            .u-container .u-block span {
                color: #a4a3a3;
            }

                .u-container .u-block span.red, span.red {
                    color: red;
                }

    span.role-box {
        background: #40b840;
        color: #fff;
        padding: 1px 5px;
        border-radius: 4px;
        margin-right: 5px;
    }

    span.active-status-box {
        background: #cdf8b39c;
        padding: 1px 5px;
        color: green;
        border-radius: 4px;
    }

    span.suspend-status-box, span.deleted-status-box {
        background: #ff000024;
        padding: 1px 5px;
        color: red;
        border-radius: 4px;
    }

    span.locked-status-box {
        background: #8080802e;
        padding: 1px 5px;
        color: grey;
        border-radius: 4px;
    }

    label.edit-menu {
        align-items: flex-start;
    }

        label.edit-menu i {
            margin-left: 5px;
        }

    .action-box i {
        background: #fff;
        padding: 5px;
        border-radius: 4px;
        margin-right: 4px;
    }

        .action-box i.fas.fa-user-alt {
            margin-right: 7px;
        }

    .table-striped thead tr {
        background-color: #EBEDF3;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #f9f9f9;
    }

    .change-status-box {
        border-radius: 4px;
        font-weight: 600;
        letter-spacing: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
        cursor: pointer;
    }

    .locked-status {
        border: 1px solid grey;
        color: grey;
    }

    .suspend-status {
        border: 1px solid red;
        color: red;
    }

    .active-status {
        border: 1px solid green;
        color: green;
    }

        .active-status.active {
            background: green;
            color: #fff;
        }

    .suspend-status.active {
        background: red;
        color: #fff;
    }

    .locked-status.active {
        background: grey;
        color: #fff;
    }

    .mb-50 {
        margin-bottom: 50px;
    }

    .name-block .status-block {
        text-align: right;
    }

    .info-box {
    }

        .info-box button {
            width: 100%;
            color: #fff;
            background: #1e1d1d;
        }
</style>


@Html.HiddenFor(x => x.LoginUserRole)

<div class="container">
    <div class="u-action">
        @if (Model.IsAbleToChange)
        {
            <button type="button" class="btn btn-light btn-sm font-size-sm font-weight-bolder text-dark-75 editRegister">
                <i class="fas fa-user-plus"></i>
            </button>
        }
        <button class="btn btn-light btn-sm font-size-sm font-weight-bolder text-dark-75" onclick="window.location.reload();"><i class="fas fa-undo-alt"></i></button>
    </div>
    <div class="u-container">
        <div class="u-block">
            <span>Total Balance</span>
            <label>IN @Model.LoginUser.AssignCoin</label>
        </div>
        <div class="u-block">
            <span>Total Exposure</span>
            <label>IN <span class="red">(0)</span></label>
        </div>
        <div class="u-block">
            <span>Available Balance</span>
            <label>IN 0</label>
        </div>
        <div class="u-block">
            <span>Balance</span>
            <label>IN 0</label>
        </div>
        <div class="u-block">
            <span>Total Avail. bal.</span>
            <label>IN @Model.LoginUser.AvailableBalance </label>
        </div>
        <div class="u-block">
            <span>Upline P/L</span>
            <label>IN (-105,750)</label>
        </div>
    </div>

    <table id="dtBasicExample" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th class="th-sm">
                    <label>Username</label>
                </th>
                <th class="th-sm">
                    <label>Credit Ref.</label>
                </th>

                <th class="th-sm">
                    <label>Exposure</label>
                </th>
                <th class="th-sm">
                    <label>Exposure Limit</label>
                </th>
                <th class="th-sm">
                    <label>Avail. Bal.</label>
                </th>
                <th class="th-sm">
                    <label>Ref. P/L</label>
                </th>
                <th class="th-sm">
                    <label>Status</label>
                </th>
                <th class="th-sm">
                    <label>Actions</label>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Users != null && Model.Users.Count() > 0)
            {
                foreach (var user in Model.Users)
                {
                    var status = user.Status == 1 ? "Active" : user.Status == 2 ? "InActive" : "Blocked";
                    <tr data-id="@user.Id" data-name="@user.UserName" data-status="@status">
                        <td><label><span class="role-box">@Model.RoleName</span> @user.FullName</label></td>
                        <td>
                            <label class="edit-menu">
                                0.00
                                @if (Model.IsAbleToChange)
                                {
                                    <i class="fas fa-edit profitLossPopup" style="color:black;"></i>
                                }
                                <i class="fas fa-eye CreditReferencePopup" style="color:black;"></i>
                            </label>
                        </td>
                        <td><label><span class="red">(0)</span></label></td>
                        <td>
                            <label class="edit-menu">
                                @user.ExposureLimit
                                @if (Model.IsAbleToChange)
                                {
                                    <i class="fas fa-edit ExposurePopup" id="ExposurePopup_@user.ExposureLimit"></i>
                                }
                            </label>
                        </td>
                        <td><label>@user.AvailableBalance</label></td>
                        <td><label>@user.ProfitAndLoss</label></td>
                        <td><span class="@status-status-box">@status</span></td>
                        <td class="action-box">
                            @if (Model.IsAbleToChange)
                            {
                                <i class="fas fa-comments-dollar deposit-withdraw-popup" style="color:black;"></i>
                                <a href="/User/AccountStatement?id=@user.Id"><i class="fas fa-file-invoice-dollar" style="color:black;"></i></a>
                                if (user.Status != 3)
                                {
                                    <i class="fas fa-cog change-status-popup" style="color:red;"></i>
                                }
                                <a href="/User/UserProfile?id=@user.Id"><i class="fas fa-user-alt" style="color:black;"></i></a>
                                @*if (user.Status == 1)
                                    {
                                        <i class="fas fa-trash-alt delete-user" style="color:red;" onclick="statusChange(@user.Id,2)"></i>
                                    }
                                    else if (user.Status == 2)
                                    {
                                        <i class="fas fa-trash-alt delete-user" style="color:green;" onclick="statusChange(@user.Id,1)"></i>
                                    }
                                    if (user.Status == 1 || user.Status == 2)
                                    {
                                        <i class="fas fa-ban user-ban" style="color:black;" onclick="statusChange(@user.Id,3)"></i>
                                    }*@
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@if (Model.IsAbleToChange)
{
    <!-- Modal Add User-->
    <form id="request-form" autocomplete="off" class="" method="post">
        <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="registerModalTitle">Add Admin</h5>

                        <button type="button" class="close hideModel">
                            ×
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="error" style="display:none;" id="error"></div>
                            <input type="hidden" class="form-control" id="idModel">
                            <input type="hidden" asp-for="RoleId" value="">
                            <div class="form-group d-flex justify-content-between align-items-center mb-75">
                                <div class="col-md-4">
                                    <label class="form-label" asp-for="Email">Email</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" asp-for="Email" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group d-flex justify-content-between align-items-center mb-75">
                                <div class="col-md-4">
                                    <label class="form-label" asp-for="FullName">Name</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" asp-for="FullName" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group d-flex justify-content-between align-items-center mb-75">
                                <div class="col-md-4">
                                    <label class="form-label" asp-for="Password">Password</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="password" class="form-control" asp-for="Password" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group d-flex justify-content-between align-items-center mb-75">
                                <div class="col-md-4">
                                    <label class="form-label" asp-for="ConfirmPassword">Confirm Password</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Confirm Password">
                                </div>
                            </div>
                            <div class="form-group d-flex justify-content-between align-items-center mb-75">
                                <div class="col-md-4">
                                    <label class="form-label" asp-for="PhoneNumber">Mobile Number</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="number" class="form-control" asp-for="PhoneNumber" placeholder="Mobile Number">
                                </div>
                            </div>
                            <div class="form-group d-flex justify-content-between align-items-center mb-75">
                                <div class="col-md-4">
                                    <label class="form-label" asp-for="AssignCoin">Opening Balance</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="number" class="form-control" asp-for="AssignCoin" placeholder="Opening Balance">
                                </div>
                            </div>
                            <div class="form-group d-flex justify-content-between align-items-center mb-75">
                                <div class="col-md-4">
                                    <label class="form-label" asp-for="Commision">Commission(%)</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="number" class="form-control" asp-for="Commision" placeholder="Commission(%)">
                                </div>
                            </div>
                            <div class="form-group d-flex justify-content-between align-items-center mb-75">
                                <div class="col-md-4">
                                    <label class="form-label" asp-for="ExposureLimit">Exposure Limit</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="number" class="form-control" asp-for="ExposureLimit" placeholder="Exposure Limit">
                                </div>
                            </div>

                            <div class="form-group d-flex justify-content-between align-items-center mb-75">
                                <div class="col-md-4">
                                    <label class="form-label" asp-for="RollingCommission">Rolling Commissiom</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="checkbox" asp-for="RollingCommission" />
                                    <label asp-for="RollingCommission"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light-primary font-weight-bold hideModel">Close</button>
                        <button type="button" class="btn btn-primary font-weight-bold" onclick="saveRequest();">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <!-- Modal Update User Status-->
    <div class="modal" id="updateUserStatusModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateUserStatusModalLabel">Change Status</h5>
                    <button type="button" class="close hideModel">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                    <div class="login-signin">
                        <div class="form-group">
                            <form class="form-horizontal">
                                <input type="hidden" name="UserId" />
                                <input type="hidden" name="Status" />
                                <div class="form-group row name-block mb-50">
                                    <div class="col-6"><span class="role-box">@Model.RoleName</span><span class="user-name-box"></span></div>
                                    <div class="col-6 status-block"><span class="status-box">active</span></div>
                                </div>

                                <div class="form-group row mb-50">
                                    <div class="col-4"><span class="active-status change-status-box">Active</span></div>
                                    <div class="col-4"><span class="suspend-status change-status-box">Suspend</span></div>
                                    <div class="col-4"><span class="locked-status change-status-box">Blocked</span></div>
                                </div>
                            </form>
                            <div class="form-group row info-box">
                                <div class="col-6">
                                    @*<input id="LoginUserPassword" autocomplete="off" class="form-control h-auto text-white bg-white-o-5 border-0" placeholder="Password.." />*@
                                </div>
                                <div class="col-6">
                                    <button type="submit" class="btn btn-primary font-weight-bold">Change</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Deposit and Withdraw Balance-->
    <div class="modal" id="depositWithdrawModalLong" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="depositWithdrawModalLabel">Banking - Master Balance: 0</h5>
                    <button type="button" class="close hideModel">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                    <div class="login-signin">
                        <div class="form-group">
                            <form class="form-horizontal">
                                <input type="hidden" name="UserId" />
                                <input type="hidden" name="IsDeposit" id="IsDeposit" />
                                <div class="form-group row name-block mb-50">
                                    <div class="col-4"><span class="user-name-box"></span></div>
                                    <div class="col-8"><span class="role-box">@Model.RoleName</span></div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-4 col-form-label">Amount</label>
                                    <div class="col-8">
                                        <input type="number" name="Balance" class="form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8" placeholder="Amount.." autocomplete="off" />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-4 col-form-label">Remark</label>
                                    <div class="col-8">
                                        <input type="text" name="Remark" class="form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8" placeholder="Remark.." autocomplete="off" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-4 col-form-label">Password</label>
                                    <div class="col-8">
                                        <input type="password" name="Password" class="form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8" placeholder="Password" autocomplete="off" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary font-weight-bold deposit-btn">Deposite</button>
                    <button type="submit" class="btn btn-primary font-weight-bold withdraw-btn">Withdraw</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Profit and Loss Balance-->
    <div class="modal" id="profitLossModalLong" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="depositWithdrawModalLabel">Edit Credit Reference: 0</h5>
                    <button type="button" class="close hideModel">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                    <div class="login-signin">
                        <div class="form-group">
                            <form class="form-horizontal">
                                <input type="hidden" name="UserId" />
                                <input type="hidden" name="IsProfit" id="IsProfit" />
                                <div class="form-group row name-block mb-50">
                                    <div class="col-4"><span class="user-name-box"></span></div>
                                    <div class="col-8"><span class="role-box">@Model.RoleName</span></div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-4 col-form-label">Amount</label>
                                    <div class="col-8">
                                        <input type="number" name="Balance" class="form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8" placeholder="Amount.." autocomplete="off" />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-4 col-form-label">Remark</label>
                                    <div class="col-8">
                                        <input type="text" name="Remark" class="form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8" placeholder="Remark.." autocomplete="off" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-4 col-form-label">Password</label>
                                    <div class="col-8">
                                        <input type="password" name="Password" class="form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8" placeholder="Password" autocomplete="off" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success font-weight-bold profit-btn">Profit</button>
                    <button type="submit" class="btn btn-primary font-weight-bold loss-btn">Loss</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Profit and Loss Balance-->
    <div class="modal" id="profitLossModalList" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="profitLossList"></div>
        </div>
    </div>


    <!-- Modal Profit and Loss Balance-->
    <div class="modal" id="ExposureLimitModel" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="depositWithdrawModalLabel">Edit Exposure Limit</h5>
                    <button type="button" class="close hideModel">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                    <div class="login-signin">
                        <div class="form-group">
                            <form class="form-horizontal">
                                <input type="hidden" name="UserId" />
                                <div class="form-group row name-block mb-50">
                                    <div class="col-4">Current:</div>
                                    <div class="col-8"><span class="limtExposure"></span></div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-4 col-form-label">Amount</label>
                                    <div class="col-8">
                                        <input type="number" name="Balance" class="form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8" placeholder="Amount.." autocomplete="off" />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-4 col-form-label">Remark</label>
                                    <div class="col-8">
                                        <input type="text" name="Remark" class="form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8" placeholder="Remark.." autocomplete="off" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-4 col-form-label">Password</label>
                                    <div class="col-8">
                                        <input type="password" name="Password" class="form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8" placeholder="Password" autocomplete="off" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success font-weight-bold profit-btn">Submit</button>
                    <button type="button" class="btn btn-primary font-weight-bold loss-btn hideModel">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}

@section PageJs{
    <script src="https://cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.0/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(document).ready(function () {
                $(document.body).on("click", ".editRegister", function () {
                    //var id = $(this).attr('id');
                    //$("#RoleId").val(parseInt(id) + 1);
                    $('#registerModal').modal('show');
                });
            });

            $(".hideModel").click(function () {
                $("#registerModal").modal('hide');
                $("#updateUserStatusModal").modal('hide');
                $("#depositWithdrawModalLong").modal('hide');
                $("#profitLossModalLong").modal('hide');
                $("#ExposureLimitModel").modal('hide');                
            });


            $("#dtBasicExample").DataTable();
            $(".dataTables_length").addClass("bs-select");

            $("#registerModal button[type=submit]").click(function () {
                var form = $("#registerModal form");
                var url = "/account/registernew";
                var postData = form.serialize();
                $("#registerModal .validation-summary-valid").html("").hide();
                $(".loader-1.loading-img").show();

                $.post(url, postData, function (data) {
                    $(".loader-1.loading-img").hide();
                    if (data.toLowerCase() == "ok") {
                        toastr.success("User register successfully!");
                        $("#registerModal").modal("hide");
                        window.location.reload();
                    }
                    else {
                        toastr.error(data);
                        //$("#registerModal .validation-summary-valid").html(data).show();
                    }
                });
            });

            $(".change-status-popup").click(function () {
                const userId = $(this).closest("tr").attr("data-id");
                const userName = $(this).closest("tr").attr("data-name");
                const status = $(this).closest("tr").attr("data-status");
                $("#updateUserStatusModal input[name='UserId']").val(userId);
                $("#updateUserStatusModal .user-name-box").text(userName);//status-box
                $("#updateUserStatusModal .status-block").html(`<span class="${status}-status-box">${status}</span>`);
                $("#updateUserStatusModal").modal("show");
            });

            $(".change-status-box").click(function () {
                $(".change-status-box").removeClass("active");
                $(this).addClass("active");
                $("#updateUserStatusModal input[name='Status']").val($(this).text().toLowerCase());
            });

            $("#LoginUserPassword").keyup(function () {
                $("input[name='LoginUserPassword']").val($(this).val());
            });

            $("#updateUserStatusModal button[type=submit]").click(function () {
                var form = $("#updateUserStatusModal form");
                var url = "/user/DeleteUser";
                var postData = form.serialize();
                $("#updateUserStatusModal .validation-summary-valid").html("").hide();
                $.post(url, postData, function (data) {
                    if (data.toLowerCase() == "ok") {
                        toastr.success("User status change successfully!");
                        $("#updateUserStatusModal").modal("hide");
                        window.location.reload();
                    }
                    else {
                        toastr.error(data);
                        //$("#updateUserStatusModal .validation-summary-valid").html(data).show();
                    }
                });
            });


            $(".deposit-withdraw-popup").click(function () {
                const userId = $(this).closest("tr").attr("data-id");
                const userName = $(this).closest("tr").attr("data-name");
                $("#depositWithdrawModalLong input[name='UserId']").val(userId);
                $("#depositWithdrawModalLong .user-name-box").text(userName);
                $("#depositWithdrawModalLong").modal("show");
            });

            $("#depositWithdrawModalLong button[type=submit]").click(function () {
                const isDeposit = $(this).hasClass("deposit-btn");
                $("#IsDeposit").val(isDeposit);
                var form = $("#depositWithdrawModalLong form");
                var url = "/user/DepositWithdrawCoin";
                var postData = form.serialize();
                $("#depositWithdrawModalLong .validation-summary-valid").html("").hide();
                $(".loader-1.loading-img").show();

                $.post(url, postData, function (data) {
                    $(".loader-1.loading-img").hide();
                    if (data.toLowerCase() == "ok") {
                        toastr.success("Update successfully!");
                        $("#depositWithdrawModalLong").modal("hide");
                        window.location.reload();
                    }
                    else {
                        toastr.error(data);
                        //$("#depositWithdrawModalLong .validation-summary-valid").html(data).show();
                    }
                });
            });


            $(".profitLossPopup").click(function () {
                const userId = $(this).closest("tr").attr("data-id");
                const userName = $(this).closest("tr").attr("data-name");
                $("#profitLossModalLong input[name='UserId']").val(userId);
                $("#profitLossModalLong .user-name-box").text(userName);
                $("#profitLossModalLong").modal("show");
            });

            $("#profitLossModalLong button[type=submit]").click(function () {
                const isDeposit = $(this).hasClass("profit-btn");
                $("#IsProfit").val(isDeposit);
                var form = $("#profitLossModalLong form");
                var url = "/user/PorfitLossUser";
                var postData = form.serialize();
                $("#profitLossModalLong .validation-summary-valid").html("").hide();
                $(".loader-1.loading-img").show();

                $.post(url, postData, function (data) {
                    $(".loader-1.loading-img").hide();
                    if (data.toLowerCase() == "ok") {
                        toastr.success("Update successfully!");
                        $("#profitLossModalLong").modal("hide");
                        window.location.reload();
                    }
                    else {
                        toastr.error(data);
                        //$("#depositWithdrawModalLong .validation-summary-valid").html(data).show();
                    }
                });
            });

            $(".CreditReferencePopup").click(function () {
                const userId = $(this).closest("tr").attr("data-id");
                const formData = new FormData();
                formData.append("uId", userId);

                let getAircraftJson = {
                    apiUrl: "@Url.Action("CreditReference", "user")",
                    postData: formData,
                    dataType: 'html'
                }
                $(".loader-1.loading-img").show();
                promiseAjaxPost.call(getAircraftJson, false).then(
                    (res) => {
                        $(".loader-1.loading-img").hide();
                        $("#profitLossList").html(res);
                        $("#profitLossModalList").modal("show");
                    },
                    (err) => {
                        messagePopup.error(err.statusText);
                    }
                )

            });

            $(".ExposurePopup").click(function () {
                var ExposureId = $(this).attr("id");
                const ExposureLimt = ExposureId.split("ExposurePopup_")[1];
                const userId = $(this).closest("tr").attr("data-id");
                const userName = $(this).closest("tr").attr("data-name");
                $("#ExposureLimitModel input[name='UserId']").val(userId);
                $("#ExposureLimitModel .limtExposure").text(ExposureLimt);
                $("#ExposureLimitModel").modal("show");
            });

            $("#ExposureLimitModel button[type=submit]").click(function () {
                var form = $("#ExposureLimitModel form");
                var url = "/user/ExposureLimit";
                var postData = form.serialize();
                $("#ExposureLimitModel .validation-summary-valid").html("").hide();
                $(".loader-1.loading-img").show();

                $.post(url, postData, function (data) {
                    $(".loader-1.loading-img").hide();
                    if (data.toLowerCase() == "ok") {
                        toastr.success("Update successfully!");
                        $("#ExposureLimitModel").modal("hide");
                        window.location.reload();
                    }
                    else {
                        toastr.error(data);
                        //$("#depositWithdrawModalLong .validation-summary-valid").html(data).show();
                    }
                });
            });
            
        });
    </script>
}