@using RB444.Model.ViewModel
@using RB444.Data.Entities
@model RegisterViewModel
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row">

        @for (int i = 1; i < 7; i++)
        {
            //var roleUsers = Model.Users != null && Model.Users.Count() > 0 ? Model.Users.Where(x => x.RoleId == i + 1).ToList() : null;
            List<Users> roleUsers = new List<Users>();
            var roleName = "";
            switch (i + 1)
            {
                case 2:
                    roleName = "Super Admin";
                    break;
                case 3:
                    roleName = "Admin";
                    break;
                case 4:
                    roleName = "Sub Admin";
                    break;
                case 5:
                    roleName = "Super Master";
                    break;
                case 6:
                    roleName = "Master";
                    break;
                case 7:
                    roleName = "User";
                    break;
            }

            <div class="col-lg-6 col-xxl-4 order-1 order-xxl-2">
                <div class="card card-custom card-stretch gutter-b">
                    <div class="card-header border-0">
                        <h3 class="card-title font-weight-bolder text-dark" style="font-style:italic;">@roleName</h3>
                        <div class="card-toolbar">
                            @if (i == i && i < 7)
                            {
                                <button type="button" class="btn btn-light btn-sm font-size-sm font-weight-bolder text-dark-75" data-toggle="modal" data-target="#exampleModalLong">
                                    Create
                                </button>
                            }
                        </div>
                    </div>
                    @if (roleUsers != null && roleUsers.Count() >= 0)
                    {
                        var counter = 0;
                        <div class="card-body pt-2">
                            @foreach (var user in roleUsers)
                            {
                                <div class="d-flex align-items-center @(counter++ > 5 ? "hidden" : string.Empty)">
                                    <div class="d-flex flex-column flex-grow-1">
                                        <a href="#" class="text-dark-75 text-hover-primary font-weight-bold font-size-lg mb-1">@user.FullName</a>
                                        <span class="text-muted font-weight-bold">5000/10000</span>
                                    </div>
                                </div>
                            }

                            @*@if (roleUsers.Count() > 5)
                                {*@
                            <br />
                            <a href="/Home/RegisterUsersList/@(i+1)" class="font-weight-bold font-size-lg mb-1 show-more-btn">See more...</a>
                            @* } *@
                            <!--end::Item-->
                        </div>
                    }
                    <!--end::Body-->
                </div>
                <!--end:List Widget 4-->
            </div>
        }

        <!-- Modal-->
        <div class="modal fade" id="exampleModalLong" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Admin</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i aria-hidden="true" class="ki ki-close"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="login-signin">
                            <div class="form-group">
                                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                    @Html.HiddenFor(x => x.LoginUserId)
                                    @Html.HiddenFor(x => x.LoginUserRole)
                                    <input type="hidden" value="true" name="IsCallFromPopUp" />

                                    <div class="form-group row">
                                        <label class="col-4 col-form-label">Email</label>
                                        <div class="col-8">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8", placeholder = "Email", autocomplete = "off" })
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-4 col-form-label">Username</label>
                                        <div class="col-8">
                                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8", placeholder = "UserName", autocomplete = "off" })
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-4 col-form-label">Name</label>
                                        <div class="col-8">
                                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8", placeholder = "Name", autocomplete = "off" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-4 col-form-label">Commission(%)</label>
                                        <div class="col-8">
                                            @Html.TextBoxFor(m => m.Commission, new { @class = "form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8", @type = "number", placeholder = "Commission(%)", autocomplete = "off" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-4 col-form-label">Opening Balance</label>
                                        <div class="col-8">
                                            @Html.TextBoxFor(m => m.AssignCoin, new { @class = "form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8", @type = "number", placeholder = "Opening Balance", autocomplete = "off" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-4 col-form-label">Mobile Number</label>
                                        <div class="col-8">
                                            @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8", @type = "number", placeholder = "Mobile Number", autocomplete = "off" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-4 col-form-label">Exposure Limit</label>
                                        <div class="col-8">
                                            @Html.TextBoxFor(m => m.ExposureLimit, new { @class = "form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8", @type = "number", placeholder = "Exposure Limit", autocomplete = "off" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-4 col-form-label">Password</label>
                                        <div class="col-8">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8", placeholder = "Password", autocomplete = "off" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-4 col-form-label">Confirm Password</label>
                                        <div class="col-8">
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8", placeholder = "Confirm Password", autocomplete = "off" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-4 col-form-label">Rolling Commissiom</label>
                                        <div class="col-8">
                                            @Html.CheckBoxFor(m => m.RollingCommission, new { @class = "form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8", placeholder = "Confirm Password" })
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary font-weight-bold">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section PageJs{
    <script>
        $(function () {
            $("#exampleModalLong button[type=submit]").click(function () {
                var form = $("form");
                var url = "/account/registernew";
                var postData = form.serialize();
                $("#exampleModalLong .validation-summary-valid").html("").hide();
                $(".loader-1.loading-img").show();

                $.post(url, postData, function (data) {
                    $(".loader-1.loading-img").hide();
                    if (data.toLowerCase() == "ok") {
                        toastr.success("User register successfully!");
                        $("#exampleModalLong").modal("hide");
                        window.location.reload();
                    }

                    toastr.error(data);
                });
            });

            // show more user
            //$(".show-more-btn").click(function () {
            //    var outerContainer = $(this).closest(".card-body");
            //    outerContainer.find(".hidden:lt(5)").show();
            //    if (outerContainer.find(".hidden").length > 5) {
            //        $(this).hide();
            //    }
            //});
        });
    </script>
}