@model IEnumerable<RB444.Data.Entities.Logo>
@{
    ViewData["Title"] = "LogoImages";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h2>Logo Images</h2>
    <div class="row p-4">
        <button class="btn btn-primary btn-sm w-auto" onclick="getRequest()">Add Logo</button>
    </div>
    <table class="sportesTbl table table-striped table-dark">
        <thead>
            <tr>
                <th>S NO.</th>
                <th>Image</th>
                <th>ACTION</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                int i = 1;
                foreach (var item in Model)
                {
            <tr>
                <th scope="row">@i</th>
                <td><img style="height:50px; width:100px;" src="../@item.FilePath" /></td>
                @if (item.Status == true)
                {
                    <td id="Status_@item.Id" style="color:lawngreen;">
                        <a onclick="statusChange(@item.Id,false)">Active</a>
                    </td>
                }
                else
                {
                    <td style="color:orangered;">
                        <a onclick="statusChange(@item.Id,true)">DeActive</a>
                    </td>
                }

                <td>
                    <a onclick="getRequest(@item.Id)" class="Edit"><i class="fa fa-edit"></i></a>
                </td>
                <td>
                    <a onclick="deleteRequest(@item.Id)"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
                    i++;
                }
            }
        </tbody>
    </table>
</div>

<div class="all-modals">
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form id="request-form" autocomplete="off" class="" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Logo Image</h5>
                        <button type="button" class="close" onclick="closeModel();">
                            ×
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="error" style="display:none;" id="error"></div>
                            <div class="form-group d-flex justify-content-between align-items-center mb-75">
                                <label class="control-label col-md-4" style="color:black !important;">Select Image</label>
                                <div class="col-md-8">
                                    <input type="file" id="inputFiles" name="file" />
                                </div>
                            </div>
                            <div class="form-group d-flex justify-content-between align-items-center mb-75">
                                <div class="form-group d-flex justify-content-between align-items-center mb-75">
                                    <div class="col-md-12">
                                        <input type="checkbox" id="Status" />
                                        <label class="form-label">Status</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" id="cancle" class="btn btn-light" onclick="closeModel();">Cancel</button>
                        <button type="button" id="btn-save" class="btn btn-primary font-weight-bold" onclick="return saveRequest()">Save</button>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>


@section PageJs{
    <script src="~/js/custom.js"></script>
    <script type="text/javascript">
        function getRequest() {
            $('#registerModal').modal('show');
        }

        function closeModel() {
            $('#registerModal').modal('hide');
        }

        function saveRequest() {
            let formdata = new FormData();
            let fileList = document.getElementById("inputFiles").files;
            if (fileList.length > 0) {
                for (const file of fileList) {
                    formdata.append(file.name, file);
                }
                formdata.append("Status", $("#Status").prop("checked"));
                let uploadAttachmentJson = {
                    apiUrl: "@Url.Action("AddUpdatedLogoImages", "OtherSetting")",
                    postData: formdata
                }
                $(".loader").show();
                promiseAjaxPost.call(uploadAttachmentJson, false).then(
                    (res) => {
                        $(".loader").hide();
                        if (res.IsSuccess && res.Status == 200) {
                            messagePopup.responseSuccess(res.Message).then(
                                (r) => { if (r == true) { location.reload() } }
                            )
                        } else {
                            messagePopup.responseError(res.Message);
                        }
                    },
                    (err) => {
                        messagePopup.error(err.statusText);
                    }
                )
            }
        }

        function deleteRequest(id) {
            const formData = new FormData();
            formData.append("id", id);

            let addRequestJson = {
                apiUrl: "@Url.Action("DeleteLogo", "OtherSetting")",
                postData: formData
            }
            $(".loader").show();
            promiseAjaxPost.call(addRequestJson, false).then(
                (res) => {
                    $(".loader").hide();
                    if (res.IsSuccess && res.Status == 200) {
                        messagePopup.responseSuccess(res.Message).then(
                            (r) => { if (r == true) { location.reload(); } }
                        )
                    } else if (res.IsSuccess && res.Status == 208) {
                        messagePopup.responseWarning(res.Message);
                    } else {
                        messagePopup.responseError(res.Message);
                    }
                },
                (err) => {
                    messagePopup.error(err.statusText);
                }
            )
            return false;
        }

        function statusChange(id, status) {
            if (id != null || id == 0) {
                return false;
            }
            const formData = new FormData();
            formData.append("id", id);
             formData.append("status", status);
             formData.append("api", 1);

            let addRequestJson = {
                apiUrl: "@Url.Action("ChangeSts", "OtherSetting")",
                postData: formData
            }
            $(".loader").show();
            promiseAjaxPost.call(addRequestJson, false).then(
                (res) => {
                    $(".loader").hide();
                    if (res.IsSuccess && res.Status == 200) {
                        messagePopup.responseSuccess(res.Message).then(
                            (r) => { if (r == true) { location.reload(); } }
                        )
                    } else if (res.IsSuccess && res.Status == 208) {
                        messagePopup.responseWarning(res.Message);
                    } else {
                        messagePopup.responseError(res.Message);
                    }
                },
                (err) => {
                    messagePopup.error(err.statusText);
                }
            )
            return false;
        }

    </script>
}


